.card-wrapper {
  width: 519px;
  height: 477px;

  background: #3961dd;
  box-shadow: 0px 20px 45px -18px rgba(57, 97, 221, 0.3);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;
}

.card-wrapper .title {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;

  text-align: center;

  margin: 0 0 31px 0;
}

.card-wrapper .more {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  text-decoration-line: underline;
  user-select: none;

  margin: 20px 0 67px 0;
}

.card-wrapper .more:hover {
  cursor: pointer;
  color: #e7e7e7;
}

.card-wrapper .more:active {
  color: #000000;
}

.card-wrapper .buttons-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 11px;
}
