.card-wrapper {
  width: 519px;
  height: 477px;

  background: #3961dd;
  box-shadow: 0px 20px 45px -18px rgba(57, 97, 221, 0.3);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #ffffff;
}

.card-wrapper .title {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;

  text-align: center;
}
